.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    padding: 5rem 12.5rem;
    background-color: #0C0709;
    border-radius: 1.25rem;

    height: 60vh;

    .title {
        font-size: 2.5rem;
        color: var(--primary-color);
        font-weight: 600;
    }

    .textFieldContainer {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        p {
            font-weight: 500;
            color: var(--primary-color);
        }
    }
}