.container {
    display: flex;

    .matchContainer {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
        width: 70%;

        .text {
            font-size: 2rem;
            color: var(--primary-color);
        }
    
        .subText {
            font-size: 1rem;
            color: var(--primary-color);
        }
    
        .tableContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .chatContainer {
        display: flex;
        flex: 1;
        border-left: 1px solid #FE6B01;
        background-color: #0F090C8F;
        height: 100vh;
    }

}
