html {
    overflow-x: hidden;
}

* {
    margin: 0;

    --primary-color: #FE6B01;
    --secondary-color: #FFFFFF;
    --sidebar-color: #0F090C8F;
}

/* width */
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: transparent;

}
  
/* Handle */
::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 10px;
  border: 2px solid #4e4e4e; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #373737;
}


input::-webkit-inner-spin-button {
  display: none;
}