.hand {
    position: absolute;
    border-radius: 1rem;
    .badge {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .buttonContainer {
            display: flex;
        }

        .flex {
            display: flex;
            .tableMobile {
                display: flex;

                li {
                    width: 3rem;
                }
            }

            .playerInformations {
            }
        }
    }

    .badgeMobile {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .buttonContainer {
            display: flex;
        }

        .flex {
            display: flex;
            flex-direction: row;
            align-items: center;
            .tableMobile {
                display: flex;

                li {
                    width: 3rem;
                }
            }

            .selfPlayerInformations {
                transform: translate(20px, -10px);
            }

            .playerInformations {
                transform: translate(-15px, -10px);
            }
        }
    }
}

.cardMobile {
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 12px;
        }
    }
}
